@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #000;

    color: #fff;
}
.LogoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.LogoContainer img{
    width: 235px;
}


.LogoContainer h1{
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 24px;
} 
.LogoContainer p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 28px;
}

a{
    color: #fff;
    text-decoration: none;
}
